pandas 
numpy 
seaborn
matplotlib
selenium
tqdm
bs4
regex
docx
nltk
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
python-docx
scikit-learn
ftfy
PyPDF2
pyresparser
streamlit
-e .
